.container
  .row.footer.text-center
    .col-md-12
      hr
      p
        a(href="https://twitter.com/" + underhood.creatorTwitter)= "@" + underhood.creatorTwitter
        = " developed with love"
        br
        a(href="https://twitter.com/" + underhood.curatorTwitter)= "@" + underhood.curatorTwitter
        = " nicely takes care about authors"
      include menu
      br
