nav
  a.btn.btn-success.btn-menu(href="https://twitter.com/" + underhood.underhood)
    b Follow on Twitter
  a(href="/stats/") Stats
  = " • "
  a(href="/about/") About a project
  = " • "
  a(href="/authoring/") Became an author
  = " • "
  a(href="/rss.xml") RSS
  = " • "
  a(href="https://github.com/#{ underhood.githubUser }/#{ underhood.githubRepo }") GitHub
  = " • "
  a(href="https://google.com/?q=site:#{underhood.site.site_url}+что-нибудь") Search
  = " • "
  a(href="https://github.com/iamstarkov/awesome-collective-twitters") Similar projects
